* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding:  0 85px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
header {
	padding: 18px 0;
}

nav ul {
	list-style: none;
	}

nav ul li {

	display: inline-block;
}

nav ul li a {

	color: black;
	padding: 10px 10px;
	text-decoration: none;
	
}

.logo h1 {
	color: #5f687b;
	font-size: 32px;
 line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#home a {
 color: #14c871;
}
nav ul li button {
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	border-radius: 3px;
	height: 39px;
	width: 129px;
	border: solid 1px  #cdd1d9;
	background-color: white;
}

.container {
	margin-left: 83px;
	margin-top: 155px;
}
.text {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.text h1{
	font-size: 2.9rem;
}
.text p {
	padding-bottom: 13px;
	color: #5f687b;
    font-family: "Raleway", sans-serif;
	font-size: 1.5rem;
}

.video {
	display: flex;
	align-items: center;
	color: #5f687b;
	gap: 25px;
}
.video button {
	border: none;
	font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #16df7e;
  box-shadow: 0 8px 28px rgba(22, 223, 126, 0.45);
}
img {
	position: absolute;
	top: 16%;
	left: 50%;
	height: 535px;
	width:535px;
}